.footer {
    heigth:150px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c1f24;
    color: white;
    text-align: center;
    z-index: 2;
}

.camera-select {

}

.camera-select h4{
    text-transform: uppercase;

}


.devices-list .active{
    background-color: white;
    color: black;
}

#camera-1, #camera-2, #camera-3, #camera-4{
    background: url("/img/icons.png") 0 -23px no-repeat;
    width: 35px;
    height: 45px;
    cursor: pointer;
    margin: 10px 15px;
}

#images-container {
    text-align: left;
    /*float: right;*/
}

#images-container img {
    height: 125px;
    padding: 10px;
    cursor: pointer;


}

#clock{
    font-family: 'Arial Обычный', 'Arial';
}

#prev_go, #next_go {
    opacity: 0;

}

#prev_go button, #next_go button{
    cursor: pointer;
}


.active-camera {
    background: yellow !important;
}

.add-zone {
    cursor: pointer;
}

.enlarge-image {
    position: absolute;
    margin-left: -80px;
    margin-top: 6px;
    cursor: pointer;
}

#large-image-window {
    padding:2%;
    left: 10%;
    width: 80%;
    height: 80%;
     position: absolute;
    top: 20px;
    margin: 0 auto;
    z-index: 0;
    background: white;
    opacity: 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

}

