.footer {
    heigth:150px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c1f24;
    color: white;
    text-align: center;
    z-index: 2;
}

.camera-select {

}

.camera-select h4{
    text-transform: uppercase;

}


.devices-list .active{
    background-color: white;
    color: black;
}

#camera-1, #camera-2, #camera-3, #camera-4{
    background: url("/img/icons.png") 0 -23px no-repeat;
    width: 35px;
    height: 45px;
    cursor: pointer;
    margin: 10px 15px;
}

#images-container {
    text-align: left;
    /*float: right;*/
}

#images-container img {
    height: 125px;
    padding: 10px;
    cursor: pointer;

}

#clock{
    font-family: 'Arial Обычный', 'Arial';
}